button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner { border:none; padding:0; }
.btn3d {
    transform-style: preserve-3d;
    transition: all 0.2s ease-in-out;
    vertical-align: top;
    &:hover {
        transform: rotateX(90deg) translateX(0px);
        transition: all 0.2s ease-in-out;
    }
    button, span {
        color: $textcol;    
        padding: 5px;
        text-align: center;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        font-size: pxToRem(14px);
        background: white;
        cursor: pointer;
        box-sizing: border-box;
        transform:translateX(15px);
        display: block;
    }
    span {
        position: absolute;
        left: 0px;
        right: 0px;
    }
    button {
        transform: rotateX(-90deg) translateX(15px);
        transition: all 0.2s ease-in-out;
    }
}

.btn {
    background: #66b4ff;
    border-radius: 2px;
    color: white;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 10px;
    font-size: pxToRem(14px);
    padding: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    &:hover,&:active {
        background: darken(#66b4ff, 5%);
    }
}

.yes.btn {
    background: #428bca;
    border-color: #357ebd;
    color: white;
    transition: all 0.2s ease-in-out;
    &:before {
        content: "\f00c";
        display: inline-block;
        opacity: 0.75;
        margin: 0em 0.25em 0em 0em;
        width: 1.23em;
        height: 1em;
        font-family: 'FontAwesome';
        font-style: normal;
        line-height: 1;
        font-weight: normal;
        text-decoration: inherit;
        text-align: center;
        speak: none;
        box-sizing: border-box;
        font-smoothing: antialiased;
    }
    &:hover {
        transition: all 0.2s ease-in-out;
        background: #3071a9;
        border-color: #285e8e;
    }
}

.no.btn {
    background: #d9534f;
    border-color: #d43f3a;
    transition: all 0.2s ease-in-out;
    color: white;
    &:before {
        content: "\f00d";
        display: inline-block;
        opacity: 0.75;
        margin: 0em 0.25em 0em 0em;
        width: 1.23em;
        height: 1em;
        font-family: 'FontAwesome';
        font-style: normal;
        line-height: 1;
        font-weight: normal;
        text-decoration: inherit;
        text-align: center;
        speak: none;
        box-sizing: border-box;
        font-smoothing: antialiased;
    }
    &:hover {
        transition: all 0.2s ease-in-out;
        background: #c9302c;
        border-color: #ac2925;
    }
}

.btn.flat {
    background: #5bc0de;
    // border-color: #46b8da;
    transition: all 0.2s ease-in-out;
    color: white !important;
    &:before {
        display: inline-block;
        opacity: 0.75;
        margin: 0em 0.25em 0em 0em;
        width: 1.23em;
        height: 1em;
        font-family: 'FontAwesome';
        font-style: normal;
        line-height: 1;
        font-weight: normal;
        text-decoration: inherit;
        text-align: center;
        speak: none;
        box-sizing: border-box;
        font-smoothing: antialiased;
    }
    &:hover {
        transition: all 0.2s ease-in-out;
        background: #31b0d5;
        // border-color: #269abc;
   
    }
}

.btn.sliver {
    background: rgb(221, 221, 221);
    &:hover {
        background: darken(rgb(221, 221, 221), 5%);
    }
}

.add.btn {
    &:before {
        content: "\f067";
    }
}

.back.btn {
    &:before {
        content: "\f100";
    }
}

.upload.btn {
    &:before {
        content: "\f093";
    }
}

.download.btn {
    &:before {
        content: "\f019";
    }
}

.btn3e {
    svg {
        fill:white;
        position:absolute;
        right: 10px;
    }
    &:after {
        width: 30%;
        height: 200%;
        background: rgba(255, 255, 255, 0.1);
        z-index: 1;
        right: 0;
        top: 0;
        margin: -5px 0 0 -5px;
        transform-origin: 0 0;
        transform: rotate(-20deg);
        content: '';
        position: absolute;
        transition: all 0.3s;
        box-sizing: border-box;
    }
    &:hover {
        transition: all 0.3s ease-in-out;
        &:after {
            width:40%;
        }
    }
    &:active {
        transform: translateY(-1px);
    }
}