.circle {
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    &:after,&:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        height: inherit;
        width: inherit;
        border-radius: 50%;
        @include transition($way:ease-in-out);
        box-shadow: inset 200px 0px 0px rgba($hovercol,0.1) 
        ,inset 0px -200px 0px rgba($hovercol,0.1)
        ,inset -200px 0px 0px rgba($hovercol,0.1)
        ,inset 0px 200px 0px rgba($hovercol,0.1);
    }
    &:before {
        @include transform(rotate(45deg));
    }
    &:hover {
        &:before,&:after {
            box-shadow: inset 10px 0px 0px rgba(255, 0, 0, 0.5)
        ,inset 0px -10px 0px rgba(252, 150, 0, 0.5)
        ,inset -10px -10px 0px rgba(0, 255, 0, 0.5)
        ,inset 0px 10px 0px rgba(0, 150, 255, 0.5);    
        }
    }
}