.fileUpload {
    padding: 20px;
    header {
        margin: 10px 0px;
        h4 {
            font-size: pxToRem(20px);
            color: $textcol;
        }
    }
    .dragDrop {
        width: 100%;
        box-sizing: border-box;
        height: 300px;
        border: 6px dashed #dcdcdc;
        @include transition;
        form {
            p {
                color: #BABABA;
                font-size: pxToRem(18px);
                @include textshadow( 2px 2px 2px #dcdcdc);
                text-align: center;
                &:first-of-type {
                    margin-top: 100px;
                }
            }
            input[type='file'] {
                display: none;
            }
            .btns {
                display: block;
                margin: auto;
                text-align: center;
                font-size: 0px;
            }
            button {
                font-size: pxToRem(16px);
                color: #878787;
                @include textshadow( 2px 2px 2px #dcdcdc);
                padding: 5px;
                border: 1px solid #dcdcdc;
                border-radius: 5px;
                cursor: pointer;
                display: inline-block;
                margin:0px 5px;
            }
        }
        &.active {
            border-color: darken(#dcdcdc,10%);
        }
    }
    .preview {
        border: none;
        font-size: 0px;
        &>div {
            @include inlineblock;
            margin: 5px;
            width: 200px;
            text-align: center;
            overflow: hidden;
            position: relative;
            height: 200px;
            i.file{
                font-size: pxToRem(70px);
                width: 100%;
                height: 180px;
                text-align: center;
                line-height: 180px;
            }
            &>span {
                text-align: center;
                display: inline-block;
                vertical-align: middle;
                font-size: pxToRem(14px);
                color: $textcol;
                width: 100%;
                @include boxsizing(border-box);
                &:nth-child(3) {
                    height: 182px;
                    overflow: hidden;
                }
                &:last-of-type {
                    border-top: 1px solid $teal;
                    font-size: pxToRem(12px);
                }
                &:only-of-type {
                    position: absolute;
                    background: white;
                    top: 182px;
                    left: 0px;
                    height: auto;
                }
            }
            &>p {
                position: absolute;
                top: 0px;
                margin: 0px;
            }
            i:nth-child(1) {
                position: absolute;
                right: 0px;
                top: 5px;
                font-size: pxToRem(18px);
                margin: 0px;
            }
            i.remove {
                color: $blue;
                cursor: pointer;
                @include transition;
                &:before {
                    opacity: 0.1;
                    @include transition;
                }
            }
            i.warning {
                color:$red;
            }
            i.checkmark {
                color: #5bbd72;
            }
            &:hover {
                i.remove:before,i.resume:before {
                    opacity: 0.8;
                }
            }
            i.resume {
                position:absolute;
                left: 50%;
                top: 50%;
                color: $blue;
                width: pxToRem(50px);
                height: pxToRem(50px);
                margin: pxToRem(-25px) 0 0 pxToRem(-25px);
                font-size: pxToRem(50px);
                cursor: pointer;
                @include transition;
                &:before {
                    opacity: 0.3;
                    @include transition;
                }
            }
        }
        img {
            max-width: 200px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
.upload.notice {
    position: fixed;
    background: rgba(102, 180, 255, 1);
    color: white;
    padding: 5px 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 0px;
    left: 50%;
    height: 30px;
    margin-top: -30px;
    @include boxsizing(border-box);
    margin-left: -50px;
}