%inputfocus {
    border: 1px solid $bordercol;
    border-radius: 5px;
    padding: 3px 10px;
    color: $textcol;
    @extend %transition;
    &:focus {
        @extend %transition;
        border-color: $hovercol;
        // box-shadow: 1px 1px 1px $hovercol, -1px -1px 1px $hovercol;
    }
    &.ng-invalid.ng-dirty{
        @extend %transition;
        border-color: red;
        // box-shadow: 1px 1px 1px red, -1px -1px 1px red;
    }
    &.ng-invalid.ng-dirty~.valid {
        color: red;
    }
    &~.valid {
        padding: 5px;
    }
}

@keyframes tick{
    0% {
        @include transform(scale(1))
    }
     50% {
        @include transform(scale(1.5))
    }
     100% {
        @include transform(scale(1))
    }
}
@-webkit-keyframes tick{
    0% {
        @include transform(scale(1))
    }
     50% {
        @include transform(scale(1.5))
    }
     100% {
        @include transform(scale(1))
    }
}
@-moz-keyframes tick{
    0% {
        @include transform(scale(1))
    }
     50% {
        @include transform(scale(1.5))
    }
     100% {
        @include transform(scale(1))
    }
}

@mixin checkbox($top: 0px, $left: 2px) {
    left: $left;
    width: pxToRem(16px);
    height: pxToRem(16px);
    top: $top;
    z-index: 1;
    width: pxToRem(16px);
    height: pxToRem(16px);
    display: block;
    position: absolute;
    cursor: pointer;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        border: 1px solid $bordercol;
        border-radius: 5px;
        background: white;
        cursor: pointer;
    }
    &:after {
        font-family: Icons;
        content: "\f00c";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 2px;
        top: 2px;
        opacity: 0;
        color: $hovercol;
        cursor:pointer;
        @include transition($time:0.1s);
    }
    &.selected:after {
        @include animate($ani:tick,$time:0.5s);
        opacity: 1;
    }
    input {
        position: absolute;
        left: 2px;
        top: 2px;
        opacity: 0;
        z-index: 10;
        cursor: pointer;
    }
}