@include keyframes(process1) {
    0% {
        opacity: 0.3;
        width: 0;
    }
    100% {
        opacity: 0;
        width: 100%;
    }
}


@include keyframes(process2) {
    from {
        background-position: 0px;
    }
    to {
        background-position: 60px;
    }
}


.processbar {
    width: 100%;
    height: pxToRem(20px);
    margin: 10px 0px;
    border: none;
    background: lighten(#dcdcdc, 6%);
    span {
        width: 0%;
        height: 100%;
        position: relative;
        border-radius: 5px;
        @include transition;
        @include boxsizing(border-box);
        display: block;
        line-height: 20px;
        text-align: right;
        color: white;
        font-size: pxToRem(12px);
    }
    span[style*='width'] {
        padding-right: 10px;
    }
}

.process2 {
    span {
        @include linear(top left, #3399ff 25%, #99ccff 25%, #99ccff 50%, #3399ff 50%, #3399ff 75%, #99ccff 75%, #99ccff 100%);
        @include animate(process2, 3s, linear, 2s, infinite);
        background-size: 60px 60px;
    }
}

.process1 {
    span[style*='width: 3'] {
        background: lighten(#3399ff,10%);
    }
    span[style*='width: 5'],span[style*='width: 6'],span[style*='width: 7'] {
        background:lighten(#3399ff,5%);
    }
    span[style*='width: 8'],span[style*='width: 9']  {
        background: #66da81;
    }
    span[style*='width: 100'] {
        background: #5bbd72;
        &:after { 
            @include animate(none);
        }
    }
    @for $i from 1 through 9 {
        span[style*='width: #{$i}%'] {
            background: lighten(#3399ff,20%);
        }
    }    
    span.disable {
        background: #dcdcdc;
    }
    span {
        background: lighten(#3399ff,20%);
        &:after {
            content: '';
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            @include animate(process1,2s,ease,0s, infinite);
        }
    }
}
.tiny.processbar {
    height: 3px!important;
    background: none;
    span {
        padding-right: 0px;
    }
}
.error.processbar {
    span {
        background: $red;
    }
}