<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>BetterKonachan</title>
        <base href="/">
        <script  data-pace-options='{ "elements": true }' src="/static/lib/other/pace.min.js" ></script>
        <script data-main="/static/js/main" src="/static/lib/other/require.js"></script>
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/index.min.css">
    </head>
    <body>
    <header>
        <div class="cover"></div>
        <canvas></canvas>
        <h1>BetterKonachan</h1>
    </header>
    <article id="admin">
        <nav dash-for>
            <a ui-sref="view" >
                <span translate>Post</span><svg class="icon"><use xlink:href="/static/images/icon.svg#icon-home"></use></svg>
            </a>
            <a ui-sref="setting" >
                <span translate>Setting</span><svg class="icon"><use xlink:href="/static/images/icon.svg#icon-cog"></use></svg>
            </a>
            <div ng-controller="langCtrl" class="language">
                <button class="btn flat" ng-class="{active:zh}" ng-click="language('zh')">简体中文</button>
                <button class="btn flat" ng-class="{active:en}" ng-click="language('en')">English</button>
            </div>
        </nav>
        <div class="admin-right">
            <div class="fragment" ui-view>
            </div>
        </div>
    </article>
    <footer>
        <div>
            <div class="cover"></div>
            <p><span translate>Any Question,Contact me</span>:<a href="mailto:franciscowxp@gmail.com" title="">franciscowxp@gmail.com</a></p>
        </div>
    </footer>
</body>
</html>