<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>BetterKonachan</title>
        <base href="/">
        <script  data-pace-options='{ "elements": true }' src="/static/lib/other/pace.min.js" ></script>
        <script data-main="/static/js/main" src="/static/lib/other/require.js"></script>
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/index.min.css">
    </head>
    <body>
    <header>
        <canvas></canvas>
        <h1>BetterKonachan</h1>
    </header>
    <article id="admin">
        <nav dash-for>
            <a ui-sref="view">
                POST <i class="icon dashboard"></i>
            </a>
            <a ui-sref="setting">
                SETTING <i class="icon setting"></i>
            </a>
        </nav>
        <div class="admin-right">
            <div class="fragment" ui-view>
            </div>
        </div>
    </article>
    <footer>
        Any Question,Contact me:<a href="mailto:franciscowxp@gmail.com" title="">franciscowxp@gmail.com</a>
    </footer>
</body>
</html>