* { margin: 0px; padding: 0px; outline: none; font-family: "Quantico", "mf_yuehei", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif; }

a { color: #3d4450; text-decoration: none; -webkit-transition: color 0.3s ease-in 0s; transition: color 0.3s ease-in 0s; }
a:hover { -webkit-transition: color 0.3s ease-in 0s; transition: color 0.3s ease-in 0s; }

html, body { font-size: 12px; }

li { list-style: none; }

::-moz-selection { color: #404040; background: rgba(151, 187, 205, 0.5); }

::selection { color: #404040; background: rgba(151, 187, 205, 0.5); }

body { background: white; }

button[disabled='disabled'] { cursor: not-allowed; }

@font-face { font-family: 'lobster_twoitalic'; src: url(../fonts/lobster_two_italic-webfont.eot); src: url(../fonts/lobster_two_italic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/lobster_two_italic-webfont.svg#lobster_twoitalic) format("svg"), url(../fonts/lobster_two_italic-webfont.woff2) format("woff2"), url(../fonts/lobster_two_italic-webfont.woff) format("woff"), url(../fonts/lobster_two_italic-webfont.ttf) format("truetype"); font-style: normal; font-weight: normal; font-variant: normal; text-decoration: inherit; text-transform: none; }
@font-face { font-family: 'mf_yuehei'; src: url(../fonts/MFYueHei_Noncommercial-Regular.otf) format("opentype"); font-style: normal; font-weight: normal; font-variant: normal; text-decoration: inherit; text-transform: none; }
@font-face { font-family: 'Quantico'; font-style: normal; font-weight: 400; src: local("Quantico"), local("Quantico-Regular"), url(../fonts/Quantico.woff) format("woff"); }
@-webkit-keyframes tick { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.5); transform: scale(1.5); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }
@keyframes tick { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.5); transform: scale(1.5); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }
.icon { display: inline-block; width: 1em; height: 1em; fill: currentColor; text-align: center; }
.icon use { margin: auto; }

/*
 SKINS - Backgrounds - Colors - Border colors - SVG fills - SVG Strokes

*/
/* Backgrounds */
.bg-navy { background-color: #001F3F; }

.bg-blue { background-color: #0074D9; }

.bg-aqua { background-color: #7FDBFF; }

.bg-teal { background-color: #39CCCC; }

.bg-olive { background-color: #3D9970; }

.bg-green { background-color: #2ECC40; }

.bg-lime { background-color: #01FF70; }

.bg-yellow { background-color: #FFDC00; }

.bg-orange { background-color: #FF851B; }

.bg-red { background-color: #FF4136; }

.bg-fuchsia { background-color: #F012BE; }

.bg-purple { background-color: #B10DC9; }

.bg-maroon { background-color: #85144B; }

.bg-white { background-color: #fff; }

.bg-gray { background-color: #aaa; }

.bg-silver { background-color: #ddd; }

.bg-black { background-color: #111; }

/* Colors */
.navy { color: #001F3F; }

.blue { color: #0074D9; }

.aqua { color: #7FDBFF; }

.teal { color: #39CCCC; }

.olive { color: #3D9970; }

.green { color: #2ECC40; }

.lime { color: #01FF70; }

.yellow { color: #FFDC00; }

.orange { color: #FF851B; }

.red { color: #FF4136; }

.fuchsia { color: #F012BE; }

.purple { color: #B10DC9; }

.maroon { color: #85144B; }

.white { color: #fff; }

.silver { color: #ddd; }

.gray { color: #aaa; }

.black { color: #111; }

/* Border colors 
 Use with another border utility that sets border-width and style  i.e .border { border-width: 1px; border-style: solid; }     
*/
.border--navy { border-color: #001F3F; }

.border--blue { border-color: #0074D9; }

.border--aqua { border-color: #7FDBFF; }

.border--teal { border-color: #39CCCC; }

.border--olive { border-color: #3D9970; }

.border--green { border-color: #2ECC40; }

.border--lime { border-color: #01FF70; }

.border--yellow { border-color: #FFDC00; }

.border--orange { border-color: #FF851B; }

.border--red { border-color: #FF4136; }

.border--fuchsia { border-color: #F012BE; }

.border--purple { border-color: #B10DC9; }

.border--maroon { border-color: #85144B; }

.border--white { border-color: #fff; }

.border--gray { border-color: #aaa; }

.border--silver { border-color: #ddd; }

.border--black { border-color: #111; }

/* Fills for SVG */
.fill-navy { fill: #001F3F; }

.fill-blue { fill: #0074D9; }

.fill-aqua { fill: #7FDBFF; }

.fill-teal { fill: #39CCCC; }

.fill-olive { fill: #3D9970; }

.fill-green { fill: #2ECC40; }

.fill-lime { fill: #01FF70; }

.fill-yellow { fill: #FFDC00; }

.fill-orange { fill: #FF851B; }

.fill-red { fill: #FF4136; }

.fill-fuchsia { fill: #F012BE; }

.fill-purple { fill: #B10DC9; }

.fill-maroon { fill: #85144B; }

.fill-white { fill: #fff; }

.fill-gray { fill: #aaa; }

.fill-silver { fill: #ddd; }

.fill-black { fill: #111; }

/* Strokes for SVG */
.stroke-navy { stroke: #001F3F; }

.stroke-blue { stroke: #0074D9; }

.stroke-aqua { stroke: #7FDBFF; }

.stroke-teal { stroke: #39CCCC; }

.stroke-olive { stroke: #3D9970; }

.stroke-green { stroke: #2ECC40; }

.stroke-lime { stroke: #01FF70; }

.stroke-yellow { stroke: #FFDC00; }

.stroke-orange { stroke: #FF851B; }

.stroke-red { stroke: #FF4136; }

.stroke-fuchsia { stroke: #F012BE; }

.stroke-purple { stroke: #B10DC9; }

.stroke-maroon { stroke: #85144B; }

.stroke-white { stroke: #fff; }

.stroke-gray { stroke: #aaa; }

.stroke-silver { stroke: #ddd; }

.stroke-black { stroke: #111; }

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border: none; padding: 0; }

.btn3d { -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; vertical-align: top; }
.btn3d:hover { -webkit-transform: rotateX(90deg) translateX(0px); transform: rotateX(90deg) translateX(0px); -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.btn3d button, .btn3d span { color: #3d4450; padding: 5px; text-align: center; border: 1px solid #dcdcdc; border-radius: 5px; font-size: 1.16667rem; background: white; cursor: pointer; box-sizing: border-box; -webkit-transform: translateX(15px); -ms-transform: translateX(15px); transform: translateX(15px); display: block; }
.btn3d span { position: absolute; left: 0px; right: 0px; }
.btn3d button { -webkit-transform: rotateX(-90deg) translateX(15px); transform: rotateX(-90deg) translateX(15px); -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.btn { background: #66b4ff; border-radius: 2px; color: white; box-sizing: border-box; display: inline-block; margin-top: 10px; font-size: 1.16667rem; padding: 5px; cursor: pointer; border: none; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.btn:hover, .btn:active { background: #4da8ff; }

.yes.btn { background: #428bca; border-color: #357ebd; color: white; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.yes.btn:before { content: "\f00c"; display: inline-block; opacity: 0.75; margin: 0em 0.25em 0em 0em; width: 1.23em; height: 1em; font-family: 'FontAwesome'; font-style: normal; line-height: 1; font-weight: normal; text-decoration: inherit; text-align: center; speak: none; box-sizing: border-box; font-smoothing: antialiased; }
.yes.btn:hover { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; background: #3071a9; border-color: #285e8e; }

.no.btn { background: #d9534f; border-color: #d43f3a; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: white; }
.no.btn:before { content: "\f00d"; display: inline-block; opacity: 0.75; margin: 0em 0.25em 0em 0em; width: 1.23em; height: 1em; font-family: 'FontAwesome'; font-style: normal; line-height: 1; font-weight: normal; text-decoration: inherit; text-align: center; speak: none; box-sizing: border-box; font-smoothing: antialiased; }
.no.btn:hover { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; background: #c9302c; border-color: #ac2925; }

.btn.flat { background: #5bc0de; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; color: white !important; }
.btn.flat:before { display: inline-block; opacity: 0.75; margin: 0em 0.25em 0em 0em; width: 1.23em; height: 1em; font-family: 'FontAwesome'; font-style: normal; line-height: 1; font-weight: normal; text-decoration: inherit; text-align: center; speak: none; box-sizing: border-box; font-smoothing: antialiased; }
.btn.flat:hover { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; background: #31b0d5; }

.btn.sliver { background: #dddddd; }
.btn.sliver:hover { background: #d0d0d0; }

.add.btn:before { content: "\f067"; }

.back.btn:before { content: "\f100"; }

.upload.btn:before { content: "\f093"; }

.download.btn:before { content: "\f019"; }

.btn3e svg { fill: white; position: absolute; right: 10px; }
.btn3e:after { width: 30%; height: 200%; background: rgba(255, 255, 255, 0.1); z-index: 1; right: 0; top: 0; margin: -5px 0 0 -5px; -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: rotate(-20deg); -ms-transform: rotate(-20deg); transform: rotate(-20deg); content: ''; position: absolute; -webkit-transition: all 0.3s; transition: all 0.3s; box-sizing: border-box; }
.btn3e:hover { -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.btn3e:hover:after { width: 40%; }
.btn3e:active { -webkit-transform: translateY(-1px); -ms-transform: translateY(-1px); transform: translateY(-1px); }

.pace { pointer-events: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.pace-inactive { display: none; }

.pace .pace-progress { background: #29d; position: fixed; z-index: 2000; top: 0; right: 100%; width: 100%; height: 2px; }

.pace .pace-progress-inner { display: block; position: absolute; right: 0px; width: 100px; height: 100%; box-shadow: 0 0 10px #29d, 0 0 5px #29d; opacity: 1.0; -webkit-transform: rotate(3deg) translate(0px, -4px); -ms-transform: rotate(3deg) translate(0px, -4px); transform: rotate(3deg) translate(0px, -4px); }

.pace .pace-activity { display: block; position: fixed; z-index: 2000; top: 15px; right: 15px; width: 14px; height: 14px; border: solid 2px transparent; border-top-color: #29d; border-left-color: #29d; border-radius: 10px; -webkit-animation: pace-spinner 400ms linear infinite; animation: pace-spinner 400ms linear infinite; }

@-webkit-keyframes pace-spinner { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes pace-spinner { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
body { background: #0a0a0a; min-width: 300px; }
body > header { width: 100%; height: 100px; left: 0px; top: 0px; position: relative; box-sizing: border-box; text-align: right; -webkit-backface-visibility: hidden; backface-visibility: hidden; box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); overflow: hidden; }
body > header h1 { font-size: 1.16667rem; color: white; position: absolute; -webkit-backface-visibility: hidden; backface-visibility: hidden; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-font-smoothing: subpixel-antialiased; }
body > header > div { -webkit-backface-visibility: hidden; backface-visibility: hidden; box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); width: 100%; height: 120%; background-repeat: no-repeat; background-size: cover; background-position: center 30%; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
body > header svg { position: absolute; left: 14%; top: 30%; background: white; padding: 5px 5px 5px 7px; font-size: 1.5rem; cursor: pointer; -webkit-transition: color 0.2s ease; transition: color 0.2s ease; border-radius: 2px; z-index: 1; }
body > header svg:hover { color: #5bc0de; }
body > footer { height: 100px; color: white; font-size: 1.33333rem; text-align: center; overflow: hidden; position: relative; }
body > footer > div { -webkit-backface-visibility: hidden; backface-visibility: hidden; box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); overflow: hidden; box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: center calc(30% - 100px); }
body > footer p { position: absolute; line-height: normal; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
body > footer a { color: white; }

.search { width: 100%; position: absolute; bottom: 0px; height: 40px; text-align: right; box-sizing: border-box; overflow: hidden; }
.search .blur { position: absolute; -webkit-filter: blur(10px) grayscale(1); filter: blur(10px) grayscale(1); -webkit-transform: translateZ(0px); transform: translateZ(0px); width: 100%; box-sizing: border-box; left: 0px; bottom: 0px; z-index: 1; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: center calc(30% - 100px); }
.search form { display: inline-block; font-size: 0px; position: relative; z-index: 2; margin: 5px; }
.search input[name='tags'] { border: 1px solid #dcdcdc; border-radius: 2px; padding: 3px 10px; color: #3d4450; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; padding: 5px 10px 4px 10px; border-right: none; border-bottom-right-radius: 0px; border-top-right-radius: 0px; border-color: transparent; color: #868686; background: #222222; }
.search input[name='tags']:focus { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; border-color: #5bc0de; }
.search input[name='tags'] ~ .valid { padding: 5px; }
.search button { border-bottom-left-radius: 0px; border-top-left-radius: 0px; margin-top: 0px; }

.pusher { background: rgba(0, 0, 0, 0.5); position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 4; visibility: hidden; opacity: 0; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.pusher.active { visibility: visible; opacity: 1; }

/* mobile first,so the default style is for mobile */
.content { width: 100%; position: relative; overflow: hidden; }
.content canvas { position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; }

.inner { min-height: calc(100vh - 200px); }

nav { font-size: 1.16667rem; box-sizing: border-box; height: 100vh; padding: 20px 10px; width: 15em; display: inline-block; position: fixed; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); will-change: transform; -webkit-transition: -webkit-transform 0.5s ease; transition: transform 0.5s ease; left: 0px; top: 0px; background: white; z-index: 5; background: rgba(27, 28, 29, 0.9); color: rgba(255, 255, 255, 0.9); }
nav h3 { padding-bottom: 10px; margin-top: 20px; font-size: 1.16667rem; color: rgba(255, 255, 255, 0.9); border-bottom: 1px solid currentColor; }
nav span { color: rgba(255, 255, 255, 0.9); }
nav.active { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.language { display: inline-block; vertical-align: middle; }
.language button { font-size: 1rem; border: none; box-shadow: none; text-shadow: none; }
.language button.active { background: #31b0d5; }

@media (min-width: 767px) { body > header { height: 200px; }
  body > header h1 { font-size: 1.5rem; }
  body > footer > div { background-position: center calc(30% - 200px); }
  .inner { min-height: calc(100vh - 300px); } }
@media (min-width: 992px) { body > header { height: 300px; }
  body > header h1 { font-size: 1.83333rem; }
  body > footer > div { background-position: center calc(30% - 300px); }
  .inner { min-height: calc(100vh - 400px); } }
@media (min-width: 1200px) { body > header { height: 400px; }
  body > header h1 { font-size: 2.33333rem; }
  body > footer > div { background-position: center calc(30% - 400px); }
  .inner { min-height: calc(100vh - 500px); } }
body > header h1, body > header a { display: inline-block; line-height: 50px; }
body > header a { color: #f2f2f2; margin-left: 50px; }
body > header canvas { position: absolute; }
body > header:hover .cover { -webkit-filter: grayscale(0); filter: grayscale(0); }
body > header:hover .blur { -webkit-filter: grayscale(0) blur(10px); filter: grayscale(0) blur(10px); }
body > footer:hover .cover { -webkit-filter: grayscale(0); filter: grayscale(0); }

.ui.toggle { display: block; margin: 5px 0px; }

.cover { -webkit-filter: grayscale(1); filter: grayscale(1); -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.cover:hover { -webkit-filter: grayscale(0); filter: grayscale(0); }

.inner { color: #999999; position: relative; height: 100%; }
.inner a { color: #999999; }
.inner ul { font-size: 0px; display: inline-block; width: 100%; text-align: center; }
.inner li { display: inline-block; vertical-align: top; font-size: 16px; position: relative; overflow: hidden; width: 300px; }
.inner li .img { height: 150px; overflow: hidden; display: block; position: relative; cursor: -webkit-zoom-in; cursor: zoom-in; z-index: 1; }
.inner li .img svg { position: absolute; font-size: 1.66667rem; height: 20px; width: 20px; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: white; opacity: 0; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.inner li .img:before { box-sizing: border-box; border: 0px solid rgba(255, 255, 255, 0.5); bottom: 0; content: ""; left: 0; overflow: visible; position: absolute; box-sizing: border-box; right: 0; top: 0; z-index: 1; opacity: 0; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.inner li img { display: block; width: 300px; -webkit-filter: grayscale(1); filter: grayscale(1); -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.inner li .info { display: inline-block; box-sizing: border-box; text-align: center; position: absolute; z-index: 2; bottom: 0px; left: 0px; color: white; padding: 0px 0px 5px 10px; opacity: 0; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.inner li .btn { display: inline-block; box-sizing: border-box; margin-top: 0px; position: absolute; border: none; box-shadow: none; text-shadow: none; border-radius: 2px; padding-right: 30px; color: white; z-index: 2; bottom: 0px; right: 0px; overflow: hidden; opacity: 0; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.inner li:hover .btn, .inner li:hover .info, .inner li:hover svg { opacity: 1; }
.inner li:hover .img:before { border: 10px solid rgba(255, 255, 255, 0.5); opacity: 1; }
.inner li:hover img { -webkit-filter: grayscale(0); filter: grayscale(0); }
.inner .dimmer { opacity: 0; visibility: hidden; background: rgba(255, 255, 255, 0.5); width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; z-index: 3; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.inner .dimmer.active { opacity: 1; visibility: visible; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.inner .loading.icon { display: block; margin: auto; margin-top: 200px; font-size: 50px; color: #666666; width: 50px; height: 50px; }

.mobile .inner .img:before { border: 10px solid rgba(255, 255, 255, 0.5); opacity: 1; }
.mobile .inner .btn { opacity: 1; }
.mobile .inner .info { opacity: 1; }
.mobile .inner img { -webkit-filter: grayscale(0); filter: grayscale(0); }
.mobile .preview a { visibility: visible; opacity: 1; }

.pager { color: #666666; font-size: 0px; padding: 10px; }
.pager span { color: #868686; display: inline-block; font-size: 14px; margin-top: 0px; }
.pager .btn { background: #222222; }
.pager .btn:hover { background: #5bc0de; color: white; }
.pager ul { display: inline-block; font-size: 0px; }
.pager li { font-size: 14px; padding: 5px 10px; margin: 5px; display: inline-block; background: #222222; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; cursor: pointer; color: #868686; border-radius: 2px; }
.pager li:hover { background: #5bc0de; color: white; }
.pager li.active { background: #5bc0de; color: white; pointer-events: none; }
.pager form { display: inline-block; font-size: 0px; margin-left: 20px; margin-right: 20px; }
.pager input { font-size: 14px; border-radius: 2px; padding: 5px; border: none; width: 50px; color: #868686; background: #222222; }
.pager button { margin-left: 10px; margin-top: 0px; color: #666666; }

.ngdialog-text .ngdialog-content { width: 300px !important; }

.popConfirm, .notify { text-align: right; }
.popConfirm p, .notify p { margin-top: 20px; font-size: 1.33333rem; text-align: left; margin-bottom: 20px; }

.preview { position: relative; min-height: 70px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; overflow: hidden; }
.preview > a { font-size: 1rem; position: absolute; top: 20px; border: none; right: 0px; box-shadow: none; visibility: hidden; opacity: 0; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.preview > a:before { margin: 0px; }
.preview img { display: block; width: 100%; }
.preview:hover a { visibility: visible; opacity: 1; }

.notify p { text-align: center; }

.ngdialog-preview .ngdialog-content { max-width: 100vw !important; width: auto !important; padding: 0px !important; }

.toggle.checkbox { font-size: 1.16667rem; color: #3d4450 !important; }

/* loader.css */
@-webkit-keyframes rotate_pacman_half_up { 0% { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
  50% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  100% { -webkit-transform: rotate(270deg); transform: rotate(270deg); } }
@keyframes rotate_pacman_half_up { 0% { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
  50% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  100% { -webkit-transform: rotate(270deg); transform: rotate(270deg); } }
@-webkit-keyframes rotate_pacman_half_down { 0% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  50% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(90deg); transform: rotate(90deg); } }
@keyframes rotate_pacman_half_down { 0% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  50% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(90deg); transform: rotate(90deg); } }
@-webkit-keyframes pacman-balls { 75% { opacity: 0.7; }
  100% { -webkit-transform: translate(-100px, -6.25px); transform: translate(-100px, -6.25px); } }
@keyframes pacman-balls { 75% { opacity: 0.7; }
  100% { -webkit-transform: translate(-100px, -6.25px); transform: translate(-100px, -6.25px); } }
.pacman { position: relative; }

.pacman > div:nth-child(2) { -webkit-animation: pacman-balls 1s -0.99s infinite linear; animation: pacman-balls 1s -0.99s infinite linear; }

.pacman > div:nth-child(3) { -webkit-animation: pacman-balls 1s -0.66s infinite linear; animation: pacman-balls 1s -0.66s infinite linear; }

.pacman > div:nth-child(4) { -webkit-animation: pacman-balls 1s -0.33s infinite linear; animation: pacman-balls 1s -0.33s infinite linear; }

.pacman > div:nth-child(5) { -webkit-animation: pacman-balls 1s 0s infinite linear; animation: pacman-balls 1s 0s infinite linear; }

.pacman > div:first-of-type { width: 0px; height: 0px; border-right: 25px solid transparent; border-top: 25px solid #5bc0de; border-left: 25px solid #5bc0de; border-bottom: 25px solid #5bc0de; border-radius: 25px; -webkit-animation: rotate_pacman_half_up 0.5s 0s infinite; animation: rotate_pacman_half_up 0.5s 0s infinite; position: relative; left: -30px; }

.pacman > div:nth-child(2) { width: 0px; height: 0px; border-right: 25px solid transparent; border-top: 25px solid #5bc0de; border-left: 25px solid #5bc0de; border-bottom: 25px solid #5bc0de; border-radius: 25px; -webkit-animation: rotate_pacman_half_down 0.5s 0s infinite; animation: rotate_pacman_half_down 0.5s 0s infinite; margin-top: -50px; position: relative; left: -30px; }

.pacman > div:nth-child(3), .pacman > div:nth-child(4), .pacman > div:nth-child(5), .pacman > div:nth-child(6) { background-color: #5bc0de; width: 15px; height: 15px; border-radius: 100%; margin: 2px; width: 10px; height: 10px; position: absolute; -webkit-transform: translate(0, -6.25px); -ms-transform: translate(0, -6.25px); transform: translate(0, -6.25px); top: 25px; left: 70px; }

.loader-inner { position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; margin: auto; width: 100px; height: 50px; -webkit-transform: translate(50%, 0); -ms-transform: translate(50%, 0); transform: translate(50%, 0); }



/*# sourceMappingURL=index.css.map */