$bordercol: #dcdcdc;
$textcol: #3d4450;
$prefixes: webkit moz ms o;
$basecol:#A66BBE;
$hovercol:#9B50BA;
$rootfont: 12px;
$footercol:#8A9697;
$flatcolor:#1CCAA8 #19B698 #19B698 #2CC36B #2CC36B #2D8BC9 #2D8BC9 #9B50BA #9B50BA #33485C #F2C820 #F4A62A #E98A37 #E65C00 #E65C00 #D14233  #9FAEAF #869394;
$flatkey:random(length($flatcolor));
$flatkeyhover:random(length($flatcolor));
$breakpoints:(
    'small':(min-width: 767px),
    'medium':(min-width: 992px),
    'large':(min-width: 1200px)
);
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: Arial,Roboto, sans-serif;
    // font-family: helvetica, verdana, sans-serif, lobster_twoitalic;
    /* font-family: "Quantico","mf_yuehei","Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", sans-serif ; */
}
a {
    color: $textcol;
    text-decoration: none;
    transition: color 0.3s ease-in 0s;
    &:hover {
        transition: color 0.3s ease-in 0s;
    }
}
html,body {
    font-size: $rootfont;
}
li {
    list-style: none;
}
::-moz-selection {
    color: #404040;
    background: rgba(151,187,205,0.5);
}
::selection {
    color: #404040;
    background: rgba(151,187,205,0.5);
}
body {
    // background: -moz-repeating-linear-gradient(top left -30deg, nth($bodybg, 2), nth($bodybg, 2) 1px, nth($bodybg, 1) 1px, nth($bodybg, 1) 5px);
    // background: -webkit-repeating-linear-gradient(top left -30deg, nth($bodybg, 2), nth($bodybg, 2) 1px, nth($bodybg, 1) 1px, nth($bodybg, 1) 5px);
    // background: repeating-linear-gradient(top left -30deg, nth($bodybg, 2), nth($bodybg, 2) 1px, nth($bodybg, 1) 1px, nth($bodybg, 1) 5px);
    background: white;
}
button[disabled='disabled'] {
    cursor: not-allowed;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
    border: none;
}