@font-face {
    font-family: "lobster_twoitalic";
    src: url("fonts/lobster_two_italic-webfont.eot");
    src: url("fonts/lobster_two_italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/lobster_two_italic-webfont.svg#lobster_twoitalic") format("svg"), 
    url("fonts/lobster_two_italic-webfont.woff2") format("woff2"), 
    url("fonts/lobster_two_italic-webfont.woff") format("woff"), 
    url("fonts/lobster_two_italic-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

@font-face {
    font-family: "mf_yuehei";
    src: url("fonts/MFYueHei_Noncommercial-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

@font-face {
    font-family: "Quantico";
    font-style: normal;
    font-weight: 400;
    src: local("Quantico"), local("Quantico-Regular"), 
    url("fonts/Quantico.woff") format("woff");
}

@font-face {
    font-family: "diner-regularregular";
    src: url("fonts/Diner-Regular-webfont.eot");
    src: url("fonts/Diner-Regular-webfont.eot?#iefix") format("embedded-opentype"), 
    url("fonts/Diner-Regular-webfont.woff") format("woff"), 
    url("fonts/Diner-Regular-webfont.ttf") format("truetype"), 
    url("fonts/Diner-Regular-webfont.svg#diner-regularregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NanoCore-Medium";
    src: url("fonts/NanoCore-Medium.eot");
    src: url("fonts/NanoCore-Medium.eot?#iefix") format("embedded-opentype"), 
    url("fonts/NanoCore-Medium.svg#NanoCore-Medium") format("svg"), 
    url("fonts/NanoCore-Medium.woff") format("woff"), 
    url("fonts/NanoCore-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

@font-face {
    font-family: "NanoCore";
    src: url("fonts/NanoCore.eot");
    src: url("fonts/NanoCore.eot?#iefix") format("embedded-opentype"), 
    url("fonts/NanoCore.svg#NanoCore") format("svg"), 
    url("fonts/NanoCore.woff") format("woff"), 
    url("fonts/NanoCore.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

@font-face {
    font-family: "Aldo-SemiBold";
    src: url("fonts/Aldo-SemiBold.eot?#iefix") format("embedded-opentype"), 
    url("fonts/Aldo-SemiBold.woff") format("woff"), 
    url("fonts/Aldo-SemiBold.ttf") format("truetype"), 
    url("fonts/Aldo-SemiBold.svg#Aldo-SemiBold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "anfinity";
    src: url("fonts/anfinity.eot?#iefix") format("embedded-opentype"), 
    url("fonts/anfinity.woff") format("woff"), 
    url("fonts/anfinity.ttf") format("truetype"), 
    url("fonts/anfinity.svg#anfinity") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CircleD";
    src: url("fonts/CircleD.eot?#iefix") format("embedded-opentype"), 
    url("fonts/CircleD.woff") format("woff"), 
    url("fonts/CircleD.ttf") format("truetype"), 
    url("fonts/CircleD.svg#CircleD") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dekar";
    src: url("fonts/Dekar.eot?#iefix") format("embedded-opentype"), 
    url("fonts/Dekar.otf") format("opentype"), 
    url("fonts/Dekar.woff") format("woff"), 
    url("fonts/Dekar.ttf") format("truetype"), 
    url("fonts/Dekar.svg#Dekar") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WisdomScriptAI";
    src: url("fonts/WisdomScriptAI.eot?#iefix") format("embedded-opentype"), 
    url("fonts/WisdomScriptAI.otf") format("opentype"), 
    url("fonts/WisdomScriptAI.woff") format("woff"), 
    url("fonts/WisdomScriptAI.ttf") format("truetype"), 
    url("fonts/WisdomScriptAI.svg#WisdomScriptAI") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ZagRegular";
    src: url("fonts/ZagRegular.eot?#iefix") format("embedded-opentype"), 
    url("fonts/ZagRegular.otf") format("opentype"), 
    url("fonts/ZagRegular.woff") format("woff"), 
    url("fonts/ZagRegular.ttf") format("truetype"), 
    url("fonts/ZagRegular.svg#ZagRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ZnikomitNo24";
    src: url("fonts/ZnikomitNo24.eot?#iefix") format("embedded-opentype"), 
    url("fonts/ZnikomitNo24.otf") format("opentype"), 
    url("fonts/ZnikomitNo24.woff") format("woff"), 
    url("fonts/ZnikomitNo24.ttf") format("truetype"), 
    url("fonts/ZnikomitNo24.svg#ZnikomitNo24") format("svg");
    font-weight: normal;
    font-style: normal;
}
