.bk-search {
  box-sizing: border-box;
  height: 32px;
  background: transparent;
  border: 4px solid var(--themeBaseColor);
  color: white;
  padding: 0 5px;
  outline: none;
  margin-block-end: 10px;
}
