@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

@function pxToRem($px) {
    @return $px / $rootfont * 1rem;
}

@mixin respond-to($name) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $name) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Please make sure it is defined in `$breakpoints` map.";
    }
}