@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imageBox {
  background-color: var(--themeListImageBgColor);
  border-radius: 2px;

  &.animationend {
    background-color: transparent;
  }
}

.image {
  opacity: 0;

  &.loaded,
  &.error {
    animation: fadeIn 0.2s ease 0s 1 normal both;
  }
}
