{
    "presets": [
        // webpack 能对ES2015模块进行静态词法分析，从而实现tree shaking
        ["es2015", {
            "modules": false
        }],
        "stage-2"
    ],
    "plugins": ["syntax-dynamic-import"]
}