{
  "parser": "babel-eslint",
  "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": true
  },
  "extends": "airbnb-base",
  "plugins": [
      "import"
  ],
  "env": {
      "browser": true,
      "es6": true
  },
  "rules": {
      //缩进设置为4个空格
      "indent": ["error", 4],
      "import/extensions": 0,
      "import/no-extraneous-dependencies": 0,
      "import/no-unresolved": 0,
      "linebreak-style": [0],
      "max-len": ["error", 150]
  },
  "globals": {
      "jQuery": true,
      "$": true,
      "LANG": true,
      "axios": true
  }
}

