body {
    background: #0a0a0a;
    min-width: 445px;
    > header {
        width: 100%;
        height: 100px;
        left: 0px;
        top: 0px;
        position: relative;
        box-sizing: border-box;
        text-align: right;
        backface-visibility: hidden;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        h1 {
            font-size: pxToRem(14px);
            color: white;
            position: absolute;
            backface-visibility: hidden;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-font-smoothing: subpixel-antialiased;
        }
        > div {
            backface-visibility: hidden;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 120%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center 30%;
            transition: all 0.2s ease-in-out;
        }
        svg {
            position: absolute;
            left: 14%;
            top: 30%;
            background: white;
            padding: 5px 5px 5px 7px;
            font-size: pxToRem(18px);
            cursor: pointer;
            transition: color 0.2s ease;
            border-radius: 2px;
            z-index: 1;
            &:hover {
                color: #5bc0de;
            }
        }
    }
    > footer {
        height: 100px;
        color: white;
        font-size: pxToRem(16px);
        text-align: center;
        overflow: hidden;
        position: relative;
        & > div {
            backface-visibility: hidden;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center calc(30% - 100px);
        }
        p {
            position: absolute;
            line-height: normal;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        a {
            color: white;
        }
    }
}

.search {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 40px;
    text-align: right;
    box-sizing: border-box;
    overflow: hidden;
    .blur {
        position: absolute;
        filter: blur(10px) grayscale(1);
        transform: translateZ(0px);
        width: 100%;
        box-sizing: border-box;
        left: 0px;
        bottom: 0px;
        z-index: 1;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center calc(30% - 100px);
    }
    form {
        display: inline-block;
        font-size: 0px;
        position: relative;
        z-index: 2;
        margin: 5px;
    }
    input[name='tags'] {
        @include inputfocus;
        padding: 5px 10px 4px 10px;
        border-right: none;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-color: transparent;
        color: #868686;
        background: #222222;
    }
    button {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        margin-top: 0px;
    }
}

.pusher {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    &.active {
        visibility: visible;
        opacity: 1;
    }
}

/* mobile first,so the default style is for mobile */
.content {
    width: 100%;
    position: relative;
    overflow: hidden;
    
    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }
}
.inner {
    min-height: calc(100vh - 200px);
}
nav {
    font-size: pxToRem(14px);
    box-sizing: border-box;
    height: 100vh;
    padding: 20px 10px;
    width: 15em;
    display: inline-block;
    position: fixed;
    transform: translate3d(-100%, 0, 0);
    will-change: transform;
    transition: transform 0.5s ease;
    left: 0px;
    top: 0px;
    background: white;
    z-index: 5;
    background: rgba(#1B1C1D, 0.9);
    color: rgba(255, 255, 255, 0.9);
    h3 {
        padding-bottom: 10px;
        margin-top: 20px;
        font-size: pxToRem(14px);
        color: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid currentColor;
    }
    span {
        color: rgba(255, 255, 255, 0.9);
    }
    &.active {
        transform: translate3d(0, 0, 0);
    }
}


.language {
    display: inline-block;
    vertical-align: middle;
    button {
        font-size: pxToRem(12px);
        border: none;
        box-shadow: none;
        text-shadow: none;
        &.active {
            background: #31b0d5;
        }
    }
}

@include respond-to(small) {
    body {
        > header {
            height: 200px;
            h1 {
                font-size: pxToRem(18px);
            }
        }
        > footer {
            > div {
                background-position: center calc(30% - 200px);
            }
        }
    }
    .inner {
        min-height: calc(100vh - 300px);
    }
}


@include respond-to(medium) {
    body {
        > header {
            height: 300px;
            h1 {
                font-size: pxToRem(22px);
            }
        }
        > footer {
            > div {
                background-position: center calc(30% - 300px);
            }
        }
    }
    .inner {
        min-height: calc(100vh - 400px);
    }
}


@include respond-to(large) {
    body {
        > header {
            height: 400px;
            h1 {
                font-size: pxToRem(28px);
            }
        }
        > footer {
            > div {
                background-position: center calc(30% - 400px);
            }
        }
    }
    .inner {
        min-height: calc(100vh - 500px);
    }
}