<section class="dash view">
    <header>
        <h4>
        {{'Post' | translate }}
        </h4>
    </header>
    <div class="inner">
        <canvas></canvas>
        <ul ng-click="previewFun($event)">
            <li ng-repeat="post in posts" on-finish-render="ngRepeatFinished">
                <span class="img"><img ng-src="{{post.prev_url}}" alt=""  data-sample="{{post.sample}}" data-height="{{post.sample_height}}" data-width="{{post.sample_width}}"><i class="fa fa-search-plus"></i></span>
                <span>{{post.width}}<strong>x</strong> {{post.height}}</span>
                <a href="{{post.url}}" download="{{post.name}}" class="btn btn3e download">Download</a>
            </li>
        </ul>
        <div class="dimmer" ng-class="{active:noFinish}">
            <div class="loader-inner line-scale"><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>

    <div class="pager" ng-show="allpages">
        <span class="btn sliver" ng-click="prev()">{{'prev' | translate }}</span>
        <ul>
            <li ng-class="{active:i==current}" ng-repeat="i in navpage" ng-click="invoke(i)">{{i}}</li>
        </ul>
        <span class="btn sliver" ng-click="next()">{{'next' | translate }}</span>
        <form novalidate name='jumpForm' ng-submit="jumpAction()" >
            <input type="number" ng-min="1" ng-max="{{allpages}}" min="1" max="{{allpages}}" ng-model="jumpData" name='jumpPage' ng-keypress="keyjump($event)" required />
            <button class="btn sliver" ng-disabled="jumpForm.jumpPage.$invalid">{{'jump' | translate }}</button>
        </form>
        <span>{{allpages}}</span>
    </div>
</section>
<script type="text/ng-template" id="notify">
<div class="notify">
    <p>{{'browser not support' | translate }}</p>
</div>
</script>
<script type="text/ng-template" id="timeout">
<div class="notify">
    <p>{{'data timeout' | translate }}</p>
</div>
</script>
<script type="text/ng-template" id="numbererror">
<div class="notify">
    <p>{{'page number only' | translate }}</p>
</div>
</script>
<script type="text/ng-template" id="preview">
<div class="preview">
    <a href="{{ngDialogData.source}}" class="download flat btn show" download="{{ngDialogData.name}}"></a>
    <img url="{{ngDialogData.img}}" alt="" noredirect src="" data-height="{{ngDialogData.height}}" data-width="{{ngDialogData.width}}">
</div>
</script>