.listWrap {
  position: relative;
  background: none;
  min-block-size: 100vh;
}

.listItem {
  margin: 0;
  border: calc(var(--themeListGap) / 2) solid transparent;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-clip: content-box;

  &:hover {
    @nest & :matches(.listImg, .listTool) {
      transform: translateY(calc(var(--themeListToolHeight) * -1));
    }
  }

  & .sk-spinner {
    color: var(--themeBaseColor);
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 0;
    inset-block-end: 0;
    margin: auto;
  }
}

.listItem-full {
  width: 100vw !important;
  height: 100vh !important;
  transform: translate(0, 0) !important;
  z-index: 30;
}

.listTool {
  position: absolute;
  display: flex;
  height: var(--themeListToolHeight);
  inline-size: 100%;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-items: stretch;
  transition: transform 0.2s ease;
  background: var(--themeListToolBgColor);
}

.listInfo {
  flex: 1 1 auto;
  font-size: 12px;
  color: white;
  line-height: var(--themeListToolHeight);
  text-align: center;
}

.listDown {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: var(--themeListToolHeight);
  color: white;
  font-size: 14px;

  & i {
    flex: 0 0 auto;
  }
}

.listImg {
  display: block;
  inline-size: 100%;
  box-sizing: border-box;
  block-size: 100%;
  border-radius: 2px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease;

  &.error {
    object-fit: contain;
  }
}

.flip-enter {
  opacity: 0;
}
.flip-exit {
  opacity: 1;
}

.flip-enter-active {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.flip-exit-active {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
