.bar {
  inset-block-start: 0;
  inset-inline-start: 0;
  display: flex;
  flex: 0 0 auto;
  block-size: var(--themeBarHeight);
  flex-flow: row nowrap;
  -webkit-app-region: drag;

  & > span {
    position: relative;
    inline-size: var(--themeBarItemSize);
    block-size: var(--themeBarItemSize);
    cursor: pointer;
    box-sizing: border-box;
    margin: 5px 2px;
    -webkit-app-region: no-drag;
  }
}
.barClose {
  color: var(--themeBarCloseColor);

  &:before,
  &:after {
    position: absolute;
    inset-inline: 0;
    inset-block: 0;
    margin: auto;
    background-color: currentColor;
    content: '';
    inline-size: 100%;
    block-size: var(--themeBarItemH);
    border-radius: 4px;
    animation: breath 2s ease-in-out 0s infinite alternate both;
    transition: transform 0.2s ease;
  }

  &:hover {
    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.barExpand {
  color: var(--themeBarExpandColor);

  & > span {
    &:before,
    &:after {
      position: absolute;
      inset-inline: 0;
      inset-block: 0;
      margin: auto;
      background-color: currentColor;
      content: '';
      inline-size: calc(var(--themeBarItemSize) - 2 * var(--themeBarItemH));
      block-size: var(--themeBarItemH);
      animation: breath 2s ease-in-out 0s infinite alternate both;
      transition: transform 0.2s ease;
    }
  }

  &:before,
  &:after {
    position: absolute;
    inset-inline: 0;
    inset-block: 0;
    margin: auto;
    background-color: currentColor;
    content: '';
    inline-size: 100%;
    block-size: var(--themeBarItemH);
    border-radius: 4px;
    animation: breath 2s ease-in-out 0s infinite alternate both;
    transition: transform 0.2s ease;
  }

  &:hover {
    &:before {
      transform: translateX(
          calc(var(--themeBarItemSize) / 2 - var(--themeBarItemH) / 2)
        )
        rotate(90deg);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:after {
      transform: translateX(
          calc(var(--themeBarItemH) / 2 - var(--themeBarItemSize) / 2)
        )
        rotate(-90deg);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    & > span {
      &:before {
        transform: translateY(
          calc(var(--themeBarItemSize) / 2 - var(--themeBarItemH) / 2)
        );
      }

      &:after {
        transform: translateY(
          calc(var(--themeBarItemH) / 2 - var(--themeBarItemSize) / 2)
        );
      }
    }
  }
}

.barMini {
  color: var(--themeBarMiniColor);

  &:before {
    position: absolute;
    inset-inline: 0;
    inset-block: 0;
    margin: auto;
    background-color: currentColor;
    content: '';
    inline-size: 100%;
    block-size: var(--themeBarItemH);
    border-radius: 4px;
    animation: breath 2s ease-in-out 0s infinite alternate both;
    transition: transform 0.2s ease;
  }

  &:hover {
    &:before {
      transform: rotate(180deg);
    }
  }
}

@keyframes breath {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
