.download {
  box-sizing: border-box;
  flex: 1 0 1px;
  margin: 0 10px;
  overflow-y: auto;

  & .scrollbar-container {
    inline-size: 100%;
  }
}

.downloadBox {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: flex-start;
}

.downloadItem {
  flex: 0 0 auto;
  inline-size: var(--themeDownloadItemWidth);
  margin-block-end: 10px;
  position: relative;

  & img {
    block-size: var(--themeDownloadItemHeight);
    border-radius: 2px;
    inline-size: 100%;
    object-fit: cover;
  }
}

.downloadIcon {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  color: var(--themeBaseColor);
}
