:root {
    --icon-before: "\e408";
    --icon-next: "\e409";
    --icon-eye: "\e000";
    --icon-play: "\e052";
    --icon-pause: "\e053";
    --icon-shuffle: "\e057";
    --icon-repeat: "\e058";
    --icon-download: "\e067";
    --icon-reload: "\e080";
    --icon-volume: "\e098";
    --icon-mute: "\e099";
    --icon-cross: "\e117";
}
@font-face {
    font-family: 'icomoon';
    src:
        url('../fonts/icomoon.woff') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-before {
    &:before {
        content: var(--icon-before);
    }
}
.icon-next {
    &:before {
        content: var(--icon-next);
    }
}
.icon-eye {
    &:before {
        content: var(--icon-eye);
    }
}
.icon-play {
    &:before {
        content: var(--icon-play);
    }
}
.icon-pause {
    &:before {
        content: var(--icon-pause);
    }
}
.icon-shuffle {
    &:before {
        content: var(--icon-shuffle);
    }
}
.icon-repeat {
    &:before {
        content: var(--icon-repeat);
    }
}
.icon-download {
    &:before {
        content: var(--icon-download);
    }
}
.icon-reload {
    &:before {
        content: var(--icon-reload);
    }
}
.icon-volume {
    &:before {
        content: var(--icon-volume);
    }
}
.icon-mute {
    &:before {
        content: var(--icon-mute);
    }
}
.icon-cross {
    &:before {
        content: var(--icon-cross);
    }
}
