#root {
  block-size: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: 100%;
  grid-auto-flow: column;
}
.bk-aside {
  position: relative;
  background: color(var(--themeBaseColor) alpha(20%));
  backdrop-filter: blur(5px);
  padding: 0 6px;
  display: flex;
  flex-flow: column nowrap;

  &>section {
    margin-block-end: 10px;
  }
}

.bk-section {
  position: relative;
}


