@font-face {
    font-family: 'lobster_twoitalic';
    src: url(./assets/fonts/lobster_two_italic-webfont.eot);
    src: url(./assets/fonts/lobster_two_italic-webfont.eot?#iefix) format('embedded-opentype'),
         url(./assets/fonts/lobster_two_italic-webfont.svg#lobster_twoitalic) format('svg'),
         url(./assets/fonts/lobster_two_italic-webfont.woff2) format('woff2'),
         url(./assets/fonts/lobster_two_italic-webfont.woff) format('woff'),
         url(./assets/fonts/lobster_two_italic-webfont.ttf) format('truetype');
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-decoration: inherit;
   text-transform: none;
}

@font-face {
    font-family: 'mf_yuehei';
    src: url(./assets/fonts/MFYueHei_Noncommercial-Regular.otf) format("opentype"); //chinese font can't transform to webfont
    // src: url(./assets/fonts/mfyuehei.eot);
    // src: url(./assets/fonts/mfyuehei.eot?#iefix) format('embedded-opentype'),
    //      url(./assets/fonts/mfyuehei.woff2) format('woff2'),
    //      url(./assets/fonts/mfyuehei.woff) format('woff'),
    //      url(./assets/fonts/mfyuehei.ttf) format('truetype'),
    //      url(./assets/fonts/mfyuehei.svg#mf_yuehei_noncommercial_regRg) format('svg');
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-decoration: inherit;
   text-transform: none;
 }
 @font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: local('Quantico'), local('Quantico-Regular'), url(./assets/fonts/Quantico.woff) format('woff');
}
@font-face {
    font-family: 'diner-regularregular';
    src: url('./assets/fonts/Diner-Regular-webfont.eot');
    src: url('./assets/fonts/Diner-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/Diner-Regular-webfont.woff') format('woff'),
         url('./assets/fonts/Diner-Regular-webfont.ttf') format('truetype'),
         url('./assets/fonts/Diner-Regular-webfont.svg#diner-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'NanoCore-Medium';
    src: url(./assets/fonts/NanoCore-Medium.eot);
    src: url(./assets/fonts/NanoCore-Medium.eot?#iefix) format('embedded-opentype'),
         url(./assets/fonts/NanoCore-Medium.svg#NanoCore-Medium) format('svg'),
         url(./assets/fonts/NanoCore-Medium.woff) format('woff'),
         url(./assets/fonts/NanoCore-Medium.ttf) format('truetype');
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-decoration: inherit;
   text-transform: none;
}
@font-face {
    font-family: 'NanoCore';
    src: url(./assets/fonts/NanoCore.eot);
    src: url(./assets/fonts/NanoCore.eot?#iefix) format('embedded-opentype'),
         url(./assets/fonts/NanoCore.svg#NanoCore) format('svg'),
         url(./assets/fonts/NanoCore.woff) format('woff'),
         url(./assets/fonts/NanoCore.ttf) format('truetype');
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-decoration: inherit;
   text-transform: none;
}